*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AlphaCentauri";
}
html,body{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 2.5rem;
    text-align: center;
}